<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JarrettVance.ChapterTools.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JarrettVance.ChapterTools.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <JarrettVance.ChapterTools.Settings>
            <setting name="ImportDurations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreShortLastChapter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSaveExt" serializeAs="String">
                <value>.chapters</value>
            </setting>
            <setting name="LangValues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>chi</string>
                        <string>dut</string>
                        <string>eng</string>
                        <string>fin</string>
                        <string>fre</string>
                        <string>ger</string>
                        <string>ita</string>
                        <string>jpn</string>
                        <string>nor</string>
                        <string>por</string>
                        <string>ita</string>
                        <string>rus</string>
                        <string>spa</string>
                        <string>swe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastOpenDir" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSaveFilterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoCheckForUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteManifest" serializeAs="String">
                <value>http://jvance.com/files/ChapterGrabber.manifest</value>
            </setting>
            <setting name="AutoUseDatabase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DatabaseSite" serializeAs="String">
                <value>http://chapterdb.org</value>
            </setting>
            <setting name="DatabaseApiKey" serializeAs="String">
                <value>a784c7d08e5fe192ca247d1a2dd5c27f</value>
            </setting>
            <setting name="WarnInvalidTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuickOpenDir" serializeAs="String">
                <value />
            </setting>
        </JarrettVance.ChapterTools.Settings>
    </userSettings>
    <applicationSettings>
        <JarrettVance.ChapterTools.Settings>
            <setting name="FpsValues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>24000/1001</string>
                        <string>24</string>
                        <string>25</string>
                        <string>30000/1001</string>
                        <string>30</string>
                        <string>50</string>
                        <string>60000/1001</string>
                        <string>60</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultFps" serializeAs="String">
                <value>29.970029970029973</value>
            </setting>
            <setting name="MaxRecentFiles" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ShortChapterSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ConfigVersion" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="DefaultLangCode" serializeAs="String">
                <value>eng</value>
            </setting>
        </JarrettVance.ChapterTools.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
